<div
  #transcrEditor
  (change)="updateTextField()"
  class="transcr-editor flex h-100 position-relative"
>
  <tratt-validation-popover
    #validationPopover
    [ngStyle]="{
      'margin-left': popoversNew.validation.location.x + 'px',
      'margin-top': popoversNew.validation.location.y + 'px',
    }"
  ></tratt-validation-popover>
  <ngx-jodit
    #jodit
    [options]="joditOptions"
    (joditKeyDown)="onKeyDown($event)"
    (joditKeyUp)="onKeyUp($event)"
    (joditFocus)="this.focused = true"
    (joditChange)="onChange()"
    (joditPaste)="onPaste($event)"
    class="flex"
  ></ngx-jodit>
</div>
