<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">
      {{ 'g.help' | transloco }}
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="close()"
    >
      <span class="visually-hidden">Close</span>
    </button>
  </div>
  <div class="modal-body" style="text-align: center">
    <a
      class="btn btn-raised btn-info"
      [href]="manualURL"
      target="_blank"
      rel="noopener"
      ><i class="bi bi-book-half me-1"></i>{{ 'g.manual' | transloco }}</a
    >
    <a
      class="btn btn-raised btn-outline-secondary ms-2"
      [href]="shortcutsURL"
      target="_blank"
      rel="noopener"
      >{{ 'g.shortcuts' | transloco }}</a
    >
  </div>
  <div class="modal-footer">
    <button
      (click)="close()"
      class="btn btn-primary"
      data-dismiss="modal"
      type="button"
    >
      {{ 'g.close' | transloco }}
    </button>
  </div>
</div>
