<div id="fastbar">
  <div class="btn-group w-100 p-2">
    <button
      type="button"
      (click)="shortcutbtnclicked.emit()"
      class="btn btn-link w-100"
    >
      <i class="fa-solid fa-keyboard align-middle"></i>
      @if (!appStorage.easyMode) {
        <span class="d-none d-md-inline"> {{ buttonLabels.shortcuts }}</span>
      }
      @if (!appStorage.easyMode) {
        <span class="d-none d-lg-inline"> [ALT + 8]</span>
      }
    </button>
    <button
      type="button"
      (click)="overviewbtnclicked.emit()"
      class="btn btn-link w-100"
    >
      <i class="fa-solid fa-eye"></i>
      @if (!appStorage.easyMode) {
        <span class="d-none d-md-inline"> {{ buttonLabels.overview }}</span>
      }
      @if (!appStorage.easyMode) {
        <span class="d-none d-lg-inline"> [ALT + 0]</span>
      }
    </button>
    <button type="button" (click)="openHelpModal()" class="btn btn-link w-100">
      <i class="fa-solid fa-circle-question"></i>
      @if (!appStorage.easyMode) {
        <span class="d-none d-md-inline"> {{ buttonLabels.help }}</span>
      }
    </button>
  </div>
</div>
